body{   
    font-family: rubik, helvetika, arial,sans-serif;
    font-size: 14px;
}
a{
    color: rgb(0, 84, 168);
    text-decoration: none;
}
.main-article{  
    width: 45%;
    padding:30px;
    margin: auto;
    background-color: rgb(232, 233, 231)
    
    
}
.table-history{
    border-collapse: collapse;
    width: 70%;
    background-color: rgb(248,249,250);
}
.table-history th,
.table-history td{ 
  border: 1px solid gray; 
  padding: 7px;
}
.table-history th{
    color: rgb(0, 84, 168);
background-color: rgb(234,236,240);
}
.float-right{
    float: right;
}
.w-30{
    width: 30%;
}