.main-header{
height: 300px;
background-color:rgba(7, 201, 226, 0.637); 
padding-top: 0px;
background-image:url(./../images/Light_background_deepslate_transition.png), url(./../images/Light_background_grass.png),  linear-gradient(0deg, rgba(34,5,9,1) 32%, rgba(10,222,237,1) 57%, rgba(0,194,245,1) 100%);

background-repeat:repeat-x, repeat-x, no-repeat;
background-position:bottom left, 0 120px, 0 0;
}
main{
    margin-top: -140px;
}
.main-wrapper{
    min-width:720px;
width: 45%;
margin:auto;
}
.link-wrapper{
    text-align: right;
}
.sign-in,
.register{
    height: 34px;
display: inline-block;
border-radius:3px;
font-weight: 900;;
padding: 7px 18px;
text-transform: uppercase;
}
.sign-in{
    border: 1px solid #000;
    color:#000;
}
.register{
background-color:rgb(0, 84, 168);
border:1px solid rgb(0, 84, 168);
color:white;
position: relative;
padding-left: 45px;
}
.register::before{
content:"" ;
display: inline-block;
width: 20px ;
height: 20px;
background-image:url(./../icons/account-circle-outline.svg);
position: absolute;
left: 18px;
top:5px;
}
main{
    margin-top: -140px;
}
.main-menu{
list-style: none;
margin:0;
font-size: 12px;
}
.main-menu-item::after{
content:"\25BC";
}
.main-menu-item:hover::after{
    content:"\25B2";
}
    
.main-menu-item{
    display:inline-block;
    margin: 0 1.2em;
    position: relative;
    padding-bottom: 30px;
    
}
.main-menu-item>.submenu::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
    top: -18px;
    left: 42%;
}
.main-menu-item>a{
    color:black;
    text-transform:uppercase;
    font-weight: bolder;
}
.main-menu-item>a:hover{
text-decoration: underline;
}
.main-menu-item:hover>.submenu{
    display: block;
}
.submenu{ 
    width: 100%;
    min-width: 150px;
    max-width:200px;
    display: none;
    position: absolute;
    left:-50%;
    top: 30px;
list-style: none;
background-color:white;
padding:7px;
}
.left0{
    left:0;
}
.left-10{
    left:-10%;
}
.submenu-item{
    position: relative;
    
}
.submenu-item:has(>.submenu)::after{
content:"\1433";
position: absolute;
top:0;
right: 0;
}
.submenu-item:hover>.submenu{
    display: block;
    left:100%;
    top:5px;
}

.submenu-link{
display: block;
padding: 5px;
padding-left: 9px;
padding-right: 9px;
color:black;
text-transform: capitalize;
}
.submenu-item:hover>.submenu-link,
.submenu-link:hover{
    background-color:rgb(211,233,255);
    color:rgb(0 84 168);
}
.explore::before{
    content:url(./../icons/book-open-blank-variant.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: translateX(-2px) translateY(2.4px)
    
}
.home::before{
    content:url(./../icons/home.svg);
    width: 15px;
    height: 15px;
display: inline-block;
transform: translateX(-3px) translateY(2.1px);
}

