.main-header{
background-color:rgba(7, 201, 226, 0.637);
height: 300px;
padding-top: 100px;
background-image:url(./../images/Light_background_grass.png),   linear-gradient(0deg, rgba(181,217,221,1) 9%, rgba(181,217,221,1) 11%, rgba(181,217,221,1) 11%, rgba(181,217,221,1) 24%, rgba(8,204,241,1) 43%, rgba(0,237,238,1) 85%, rgba(8,224,233,1) 91%, rgba(0,194,245,1) 100%);
background-repeat: repeat-x, no-repeat;
background-position: 0 120px, 0 0;
}
main{
    margin-top: -135px;
}
.main-wrapper{
    min-width:720px;
width: 45%;
margin:auto;
}
.main-menu{
list-style: none;
margin:0;
}
.main-menu-item{
    display:inline-block;
    margin: 0 1.2em;
    position: relative;

}
.main-menu-item>a{
    color:black;
    text-transform:uppercase;
    font-weight: bolder;
}
.main-menu-item>a:hover{
text-decoration: underline;
}
.main-menu-item:hover>.submenu{
    display: block;
}
.submenu{ 
    width: 315%;
    display: none;
    position: absolute;
    left:-50%;
list-style: none;
background-color:white;
padding:7px;
}
.submenu-item{

}
.submenu-link{
display: block;
padding: 5px;
padding-left: 9px;
padding-right: 9px;
color:black;
text-transform: capitalize;
}
.submenu-link:hover{
    background-color:rgb(211,233,255);
    color:rgb(0 84 168);
}
.